.navbar-nav .nav-item .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

#hero-description {
  background: #05299e;
  border-radius: 35px;
  padding: 20px 50px;
}

#hero-description .summary {
  all: unset;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-align: center;
}

#hero-description .logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 35.3429px;
  line-height: 41px;
}

#hero-description .description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16.3121px;
  line-height: 19px;
}

.section-title {
  display: block !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.section-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 26px;
}

.column-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
}
