.navbar-nav .nav-item .nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

#hero-description {
  background: #05299e;
  border-radius: 35px;
  padding: 20px 50px;
}

#hero-description .summary {
  all: unset;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-align: center;
}

#hero-description .logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 35.3429px;
  line-height: 41px;
}

#hero-description .description-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16.3121px;
  line-height: 19px;
}

#hero-description .description-text-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}

.section-title {
  display: block !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.section-sub-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 26px;
}

.column-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
}

.column-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #716d6d;
}

.button-title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  width: 428px;
  text-align: center;
  color: #05299e;
}

.btn-action-primary {
  width: 428px;
  height: 46px;
  background: #05299e;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10.8571px;
}

.btn-border-primary {
  all: unset;
  width: 428px;
  height: 46px !important;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10.8571px;
  background-color: #fff;
  border: 2.82414px solid #05299e;
}

.input-border-primary {
  all: unset;
  width: 418px;
  height: 46px !important;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10.8571px;
  background-color: #fff;
  border: 2.22414px solid #05299e;
}

.left-border {
  border-left: 3px solid #05299e !important;
}

.grey-description-text {
  color: #716d6d;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.contract-description {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 141%;
  letter-spacing: 0.05em;
  color: #303030;
}

.dash-section-border {
  border-top: 4px dashed #05299e;
  border-bottom: 4px dashed #05299e;
  padding-top: 20px;
  padding-bottom: 20px;
}

.white-round-background {
  width: 43.14px;
  height: 40px;
  bottom: 330px;
  background: linear-gradient(203.2deg, #ffffff 21.67%, #ffffff 70%);
}

.investment-description-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #303030;
}

.investment-description-bonus {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.15em;
  color: #303030;
}

.investment-description-body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #716d6d;
}

.guide-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #05299e;
}
